Redirect 301 /indices-icl-ipc-cer.html /calculadora-icl.html
Redirect 301 /indices-icl-ipc-cer /calculadora-icl.html
Redirect 301 /ley-de-alquileres.html /contrato-de-alquiler.html
Redirect 301 /ley-de-alquileres /contrato-de-alquiler.html
Redirect 301 /actualizacion-alquileres.html /index.html
Redirect 301 /actualizacion-alquileres /index.html
Redirect 301 /calculadora-contratos.html /index.html
Redirect 301 /calculadora-contratos /index.html
Redirect 301 /aviso-legal.html /terminos-condiciones.html
Redirect 301 /aviso-legal /terminos-condiciones.html
